doc/
tags
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
doxygen/Makefile
doxygen/Makefile.in
install-sh
libtool
ltmain.sh
missing
src/Makefile
src/Makefile.in
src/run
stamp-h1
test/Makefile
test/Makefile.in
texput.log
test-driver

test/*Test.sh.*
test/test-suite.log
test/polynomialTest
test/catenaryTest
test/evaluationTest
test/parallelCatenary
test/catenaryLibmeshTest

examples/catenaryLibmesh/catenaryLibmesh
examples/catenary/catenary
examples/viscousBurgers/viscousBurgers

*testFile.dat

build-aux/

*.o
*.deps/
*.swp
*.log
*.trs
